* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
}

.header {
    color: #333232;
    text-align: center;
}

h1,
h2,
h3 {
    text-transform: capitalize
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 250px;
}

.imgPort {
    border-radius: 50%;
}

.topnav {
    text-align: center;
    overflow: hidden;
    background-color: #1f1b1b;
}

.topnav a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #333232;
    color: white;
}

.active {
    background-color: #4f483f
}